<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class='row-12'>
      <nav class="navbar navbar-light navbar-expand-lg ">
          <div class='col-6 text-left'>
              <h1>ARCADE <b>FIRE</b> </h1>
          </div>
          <div class='col-6 text-right'>
              <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                  <a href="/home">Home</a>
              </li>
              <li class="nav-item">
                  <a href="/works">Works</a>
              </li>
              <li class="nav-item">
                  <a href="/gallery">Gallery</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
<div class='row'>
  <p class='about'>Arcade Fire is a Canadian indie rock band, consisting of husband and wife Win Butler and Régine Chassagne, along with Win's younger brother William Butler, Richard Reed Parry, Tim Kingsbury and Jeremy Gara. The band's current touring line-up also includes former core member Sarah Neufeld, percussionist Tiwill Duprate and saxophonist Stuart Bogie.

    Founded in 2000 by friends and classmates Butler and Josh Deu, the band came to prominence in 2004 with the release of their critically acclaimed debut album Funeral. Their second studio album, Neon Bible, won them the 2008 Meteor Music Award for Best International Album and the 2008 Juno Award for Alternative Album of the Year. Their third studio album, The Suburbs, was released in 2010 to critical acclaim and commercial success. It received many accolades, including the 2011 Grammy for Album of the Year, the 2011 Juno Award for Album of the Year and the 2011 Brit Award for Best International Album. In 2013, Arcade Fire released their fourth album, Reflektor, and scored the feature film Her, for which band members Win Butler and Owen Pallett were nominated in the Best Original Score category at the 86th Academy Awards. In 2017, the band released their fifth studio album Everything Now.</p>


</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>
